.pull {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
}

.pull .number {
    font-size: 14px;
    color: #999;
    margin-right: 0.5rem;
}

.pull .title {
    font-weight: bold;
}

.pull .label {
    display: inline-block;
    font-size: 0.75rem;
    padding: 1px 5px;
    margin: 0 0.5rem 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}